dash==2.17.0
dash_bootstrap_components==1.6.0
dash_daq==0.5.0
dash_editor_components==0.0.2
dcor==0.6
Flask==2.2.5  # Updated to meet flask-sqlalchemy requirements
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1  # Updated to match Flask version
langchain==0.3.3
langchain_chroma==0.1.4
langchain_community==0.3.2
langchain_core==0.3.10
langchain_experimental==0.3.2
langchain_openai==0.2.2
langchain_text_splitters==0.3.0
matplotlib==3.9.2
modin==0.32.0
numpy==1.26.4
pandas==2.2.2
pdfplumber==0.11.0
plotly==5.9.0
pydantic==2.9.2
pyemd==1.0.0
PyYAML==6.0.2
scikit_learn==1.2.2
scipy==1.13.0
seaborn==0.13.2
setuptools==68.2.2
SQLAlchemy==2.0.31
Werkzeug>=2.2.3  # Ensure compatibility with Flask 2.2.5
psycopg2==2.9.10
tabulate==0.9.0
docker==7.1.0