/* Overall layout */
.body {
    background-color:#f5f5f5; /* Grey background */
}

/* For Chrome, Safari, and Edge */
::-webkit-scrollbar {
    width: 12px;  /* Scrollbar width */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Track color */
    border-radius: 10px;   /* Track corner rounding */
}

::-webkit-scrollbar-thumb {
    background: #888;      /* Handle color */
    border-radius: 10px;   /* Handle corner rounding */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;      /* Handle color on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: darkslateblue white;  /* Handle and track color */
}

/* Blue banner styling */
.banner {
    background:darkslateblue;
    color: white;
    padding: 1px 20px;
    /*border-radius: 8px 8px 0 0;*/
    border: black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 75px;
    margin-bottom: 10px;
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
}


.card {
    border-radius: 8px; /* Rounded borders for the card */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, spread radius, color */
    background-color: white; /* Card background color */
    margin: 10px 0;
    padding: 10px;
    /* Add other styling for the card as needed */
}

.upload{

    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 16px;
    background-color: #ebf2fa;
}

.query{

    margin: 5px;
    background-color: white;
    border-radius: 6px;

    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */
}

.query-title{
    font-weight: bold;
    padding: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-align-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.left-align-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.right-align-div{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    gap: 10px;
}

.query-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#export-format-dropdown {
    flex: 1
}

.download-button{
    background-color: white; /* Blue background */
    color: rebeccapurple;
    border-radius: 10px;
    border-color: rebeccapurple;
    padding: 3px 10px;
    cursor: pointer;
}

.query-area{
    background-color: #ffffff; /* White background */
    border-radius: 5px;
    border: 1px solid burlywood;
    width: 100%;
    overflow-y: auto;
    height: 700px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.RAG-area{
    background-color: #ffffff; /* White background */
    border-radius: 5px;
    border: 1px solid steelblue;
    width: 97%;
    overflow-y: auto;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    height: 300px;

}

.query-input{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.primary-button {
    background-color: #007bff; /* Blue background */
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

}

.delete-button {
    background-color: red; /* Blue background */
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

}

.save-data-button {
    background-color: #ffb366; /* Blue background */
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

}

.secondary-button {
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}


.load-button {
    background-color: white; /* Blue background */
    color: rebeccapurple;
    border-radius: 10px;
    border-color: rebeccapurple;
    padding: 3px 10px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.load-button:hover {
    background-color: whitesmoke;
}

.download-button:hover {
    background-color: whitesmoke;
}
/* Send button hover effect */
.primary-button:hover {
    background-color: #0056b3;
}

.save-data-button:hover {
    background-color: #ff8000;
}

.secondary-button:hover {
    background-color: seagreen;
}

.secondary-title{
    margin: 0 10px 10px 0;
}

.user-msg{
    text-align: left;
    padding: 10px;
    background-color: darkslateblue;
    color: white;
    border-radius: 15px;
    margin: 5px 5px 5px 50%;
    width: fit-content;
    max-width: 50%;
    word-wrap: break-word;
    display: block;
    float: right;
}

.llm-msg{
    text-align: left;
    padding: 10px;
    background-color: #f5f4ed;
    color: black;
    border-radius: 15px;
    margin: 5px 25% 5px 5px;
    width: fit-content;
    max-width: 75%;
    word-wrap: break-word;
    display: inline-block
}

.logo{
    width: 80px;
}

.title{
    font-size:48px;
    color:#f5f5f5;
}

.nav-item{
    background:darkslateblue;
    color: white;
    margin-left: 30px;
}

.nav-item:hover{
    color:coral;
}

.nav-item:focus{
    color:white;
}

.dropdown-toggle{
    color: white;
}

.dropdown-toggle:hover{
    color: coral;
}

.dropdown-toggle:focus{
    color: white;
}

.figure-modal {
    width: 80vw !important; 
    max-width: none !important;
}

.next-suggested-question {
    display: block;
    padding: 10px;
    background: #f1e3ff;
    box-shadow: none;
    border-radius: 20px;
    text-align: justify;
    margin-bottom: 5px;
    cursor: pointer;
}
.chat-history-card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}

.chat-history-card .card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}

.chat-message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
}

.user-message {
    background-color: #e6f2ff;
    margin-left: 20%;
    text-align: justify;
    word-wrap: break-word;
}

.assistant-message {
    background-color: #f0f0f0;
    margin-right: 20%;
    text-align:left;
    word-wrap: break-word;
    width: 100%;
}

.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 0.8em;
    color: #666;
}

.message-role {
    font-weight: bold;
}

.message-time {
    font-style: italic;
}

.message-content {
    word-wrap: break-word;
}

.profile-area {
    /*background-color: #ffffff;*/
    /*border: 1px solid #e0e0e0;*/
    /*border-radius: 8px;*/
    overflow: hidden;
}

.profile-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.profile-header {
    display: flex;
    flex-direction: column;
}

.profile-name {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    color: #000000;
}

.profile-title {
    margin: 0;
    color: #666666;
    font-size: 0.875rem;
}

.profile-more-info-button {
    background-color: darkslateblue;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 4px 12px;
    font-size: 0.75rem;
    font-weight: bold;
    width: 100%;  /* Changed from 'align-self': 'flex-start' */
    margin-top: 8px;
}

.profile-edit-info-button {
    background-color: darkslateblue;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 4px 12px;
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 8px;
    width: fit-content;
}

.edit-icon {
    cursor: pointer;
    color: darkslateblue;
    font-size: 0.8rem;
    vertical-align: middle;
}

.scrollable-conversation-body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.scrollable-conversation-body::-webkit-scrollbar {
    width: 6px;
}

.scrollable-conversation-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollable-conversation-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

.scrollable-conversation-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.data-table tr:hover {
    background-color: lightblue !important;
    color: black !important;
}

.commands_editor {
    border-radius: 5px;
    border: 1px solid burlywood;
    margin-bottom: 10px;
    margin-top: 5px;
}

.commands_editor:disabled {
    cursor: not-allowed;
}

.settings-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.settings-content {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    background-color:#e5e2f5ad;
}

.settings-body #middle-column {
    flex: 1;
    
}

.settings-body #left-column {
    background-color: white;
    margin-top: -10px;
    padding: 10px;
}

.settings-banner {
    background-color:#e5e2f5ad;
}

.settings-sidebar {
    font-size: larger;
    color: #483d8ba3 ;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-pills .nav-link.settings-sidebar.active {
    background-color: #e8e5ff;
    color: #483d8b;
}

.settings-sidebar:hover {
    background: #f4f2ff;
    color: #483d8b;
}

.prompt-card {
    box-shadow: none;
    border: none;
}

.settings-prompt-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.settings-prompt-card-body {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 54px;
}

.prompt-input {
    width: 100%;
    border: none;
    background-color: #f7f7f7;
    border-radius: 8px;
    resize: none;
}

.save-button {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.prompt-button {
    width: 130px;
}

.survey-tooltip {
    display: flex;
    justify-content: space-between;
    align-items: center;
}